/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Browser Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font2);
}

/* Global variable */
:root {
  /* color */
  --primary: #6b9fd4;
  --primary-dark: #1b3c73;
  --secondary: #eef7ff;
  --bg: ;
  --black: black;
  --white: white;

  /* font */
  --font1: "Bodoni Moda SC", serif;
  --font2: "Bebas Neue", sans-serif;
  --font3: "Poppins", sans-serif;
}

/* Basic Style */

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header section */
#mypage_header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 10px;
}

#mypage_header nav {
  height: 100px;
  background-color: var(--primary-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 6px solid var(--primary);
  border-top: 2px solid var(--primary);
  color: var(--white);
  margin-top: 10px;
  overflow: hidden;
  transition: height 0.5s ease; 
}

.logo {
  font-family: var(--font1);
  font-size: 2rem;
  letter-spacing: 2px;
}

/* middle section */

#middle_section {
  display: flex;
  font-size: 1.2rem;
}

#mypage_leftnav {
  width: 30%;
  /* change in alignment of left nav to right  */
  order: 2;
}

#mypage_leftnav aside {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: var(--primary);
  margin: 15px;
  border-radius: 10px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.leftnav h4 {
  font-family: var(--font1);
  font-size: 1.3rem;
  color: var(--white);
  font-weight: 900;
  /* text-shadow: 5px 5px 6px var(--primary-dark); */
}

.leftnav {
  border: 2px solid black;
}

#mypage_centerContent {
  width: 70%;
  line-height: 1.6;
  color: var(--primary-dark);
}

.hidden {
  display: none;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  text-align: center;
  background-color: var(--primary);
  border-radius: 10px;
  margin-bottom: 10px;
}

.hidden h4 {
  font-size: 1.1rem;
  color: white;
  letter-spacing: 1.5px;
  font-weight: 900;
  /* text-shadow: 5px 5px 6px var(--primary-dark); */
  font-family: var(--font1);
}

#mypage_centerContent main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  background-color: var(--secondary);
  margin: 15px;
  margin-right: 0;
  border-radius: 10px;
  padding: 20px;
}

.center-content {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
}

.center-content ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.list li {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid var(--primary-dark);
  padding-left: 20px;
}

.description {
  text-align: justify;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sub-heading {
  font-weight: 800;
}

.year {
  font-size: 1rem;
  color: var(--primary);
  letter-spacing: 1px;
}

.tech {
  width: 230px;
}

.list li::marker {
  color: var(--primary);
}

/* Footer section */
#mypage_footer {
  background-color: var(--primary-dark);
  padding: 20px;
  border-top: 6px solid var(--primary);
  border-bottom: 2px solid var(--primary);
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  
}

.footer-title {
  font-size: 1.7rem;
  font-family: var(--font1);
  font-weight: 600;
  margin-bottom: 10px;
}

.footer-info {
  text-align: left;
}

.footer-info span {
  font-family: var(--font1);
  font-weight: 600;
  margin-right: 10px;
}

.footer-info p {
  font-size: 1.2rem;
  font-family: var(--font3);
}

/*-------------- Responsive Design -------------*/
@media (max-width: 375px) {
  /* header section */

  #wrapper {
    padding: 0 5px;
  }

  .logo {
    font-size: 1.2rem;
  }

  /* middle section */

  #middle_section {
    margin: 0;
    font-size: 0.7rem;
    margin-bottom: 10px;
    letter-spacing: 1.1px;
  }

  .description {
    letter-spacing: 1.1px;
    font-size: 0.8rem;
  }

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }

  .hidden {
    display: block;
    padding: 10px;
  }

  .hidden h4 {
    font-size: 0.8rem;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
  }

  .list li {
    padding-left: 10px;
  }

  .year {
    font-size: 0.6rem;
  }

  .tech {
    width: 152px;
  }

  /* footer section */

  .footer-title {
    font-size: 0.9rem;
  }

  .footer-info p {
    font-size: 0.6rem;
  }

  .list li {
    border-left: 3px solid var(--primary);
  }
}

@media (min-width: 375px) and (max-width: 480px) {
  /* header section */
  #wrapper {
    padding: 0 10px;
  }

  .logo {
    font-size: 1.4rem;
  }

  /* middle section */

  #middle_section {
    margin: 0;
    font-size: 0.9rem;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
  }

  .description {
    font-size: 0.9rem;
    letter-spacing: 0.4px;
  }

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }

  .hidden {
    display: block;
  }

  .hidden h4 {
    font-size: 0.95rem;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 10px;
    padding: 10px;
  }

  .year {
    font-size: 0.73rem;
  }

  .tech {
    width: 178px;
  }

  /* footer section */
  .footer-title {
    font-size: 1.1rem;
  }

  .footer-info p {
    font-size: 0.7rem;
  }
}

@media (min-width: 480px) and (max-width: 768px) {
  /* header section */
  #wrapper {
    padding: 0 15px;
  }

  .logo {
    font-size: 1.7rem;
  }

  /* middle section */
  #middle_section {
    margin: 0;
    font-size: 1rem;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
  }

  .description {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }

  #mypage_leftnav {
    display: none;
  }

  #mypage_centerContent {
    width: 100%;
  }

  .hidden {
    display: block;
  }

  #mypage_centerContent main {
    height: auto;
    margin: 0px;
    margin-top: 15px;
    padding: 15px;
  }

  .year {
    font-size: 0.8rem;
  }

  .tech {
    width: 191px;
  }

  /* footer section */

  .footer-title {
    font-size: 1.3rem;
  }

  .footer-info p {
    font-size: 0.8rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* header section */
  .logo {
    font-size: 1.8rem;
  }

  /* middle section */
  #middle_section {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }

  .description {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }

  .year {
    font-size: 0.9rem;
  }

  .center-content ul {
    padding: 0px;
  }

  .leftnav h4 {
    font-size: 0.9rem;
  }

  .tech {
    width: 211px;
  }

  /* footer section */

  .footer-title {
    font-size: 1.2rem;
  }

  .footer-info p {
    font-size: 0.9rem;
  }
}
